<div class="container">
    <mat-card class="mat-elevation-z4">
        <mat-header color="my-primary">
            <mat-card-title>
                Liste des contacts
            </mat-card-title>
        </mat-header>

        <mat-card-content>
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>

            <button mat-button *ngIf="dataSource" color="primary" > Valider </button>
            <table mat-table [dataSource]="dataSource" class="table">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let contact"> {{contact.id}} </td>
                </ng-container>
                
                <ng-container matColumnDef="direction">
                    <th mat-header-cell *matHeaderCellDef> Direction </th>
                    <td mat-cell *matCellDef="let contact"> {{contact.direction}} </td>
                </ng-container>
                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef> Nom </th>
                    <td mat-cell *matCellDef="let contact"> {{contact.nom}} </td>
                </ng-container>
                <ng-container matColumnDef="matricule">
                    <th mat-header-cell *matHeaderCellDef> Matricule </th>
                    <td mat-cell *matCellDef="let contact"> {{contact.matricule}} </td>
                </ng-container>
                <ng-container matColumnDef="fonction">
                    <th mat-header-cell *matHeaderCellDef> Fonction </th>
                    <td mat-cell *matCellDef="let contact"> {{contact.fonction}} </td>
                </ng-container>
                <ng-container matColumnDef="posteTel">
                    <th mat-header-cell *matHeaderCellDef> Poste </th>
                    <td mat-cell *matCellDef="let contact"> {{contact.posteTel}} </td>
                </ng-container>  

                <tr mat-header-row *matHeaderRowDef="colonnes"></tr>
                <tr mat-row *matRowDef="let row; columns: colonnes"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4"> Aucune ligne correspondante pour: {{ input.value }}</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons
                aria-label="dataSource"></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>