.table {
    width: 100%;
  }
  
.card {
    border-radius: 25px;
    
}

mat-card-title{
  margin-bottom: 20px;
}

.mat-column-nom {
  padding-right: 24px;
  text-align: left;
}

.mat-column-matricule {
  width: 32px;
  padding-right: 24px;
  text-align: left;
}
  
.mat-column-posteTel {
  width: 50px;
  font-size: 20px;
  text-align: center;
  margin-left: 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.table-container{
  overflow: auto;
  height: 620px;
}