<div class="sidenav" color="my-primary">
    <div class="logo">
        <a href="/contacts" class="logo-mini">
            <div class="logo-img">
                <img src="../../../assets/logo_bhci.png" />
            </div>
        </a>
        <a href="/contacts" class="simple-text logo-normal">
            Annuaire BHCI
        </a>
    </div>

    <div class="nav">
        <br>
        <button mat-button class="menu-button" routerLink="/contacts"> Liste des contacts</button>
        <button mat-button class="menu-button" routerLink="/importAnnuaire"> MAJ annuaire</button>
    </div>

</div>
