<div class="sidenav" color="my-primary">
    <div class="logo">
        <a href="/contacts" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="../../../assets/logo_bhci.png" />
            </div>
        </a>
        <a href="/contacts" class="simple-text logo-normal">
            Annuaire BHCI
        </a>
    </div>
    <ul class="nav">
        <li><a routerLink="/contacts" class="active"> Liste des contacts</a></li>
        <li><a routerLink="/importAnnuaire" > MAJ annuaire</a></li>
    </ul>

</div>
