<div class="sidenav" color="my-primary">
    <div class="logo">
        <a href="/contacts" class="logo-mini">
            <div class="logo-img">
                <img src="../../../assets/logo_bhci.png" />
            </div>
        </a>
        <a href="/contacts" class="simple-text logo-normal">
            Annuaire BHCI
        </a>
    </div>

    <button mat-button color="accent" class=" menu-button"><a routerLink="/contacts" > Liste des contacts</a></button>
    <ul class="nav">
        <li><a routerLink="/contacts" class=" menu-button active"> Liste des contacts</a></li>
        

        <li><a routerLink="/importAnnuaire" > MAJ annuaire</a></li>
    </ul>

</div>
