/* You can add global styles to this file, and also import other style files */


body {
    height: 100%; 
    display: flex;
    flex-direction: column;
    margin: 0; 
    
    // background-color: #f5efe0;
}

.container { 
    height: 100%;
    // color: mat.get-color-from-palette($primary-palette,'50');
}

table{
    width: 100%;
}
